[build]
  command = "yarn build"
  publish = "build"

[build.environment]
  NODE_VERSION = "20"
  YARN_VERSION = "1.22.22"
  CI = "false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
